* {
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 300px;
    background-color: #13599c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bangers';
    color: white;
}

.isi   {
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;   
    text-align : center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.tombol-masuk {
    border-radius: 50%; 
    width: 200px;
    transition: .4s;
}

.tombol-masuk:hover {
    width: 180px;
}

.sidebar {
    width: 300px;
    height: 500px;
    background: #13599c;
    margin: 100px;
    border-radius: 10px;
}
.sidebar header {
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #3473ad;
    user-select: none;
    border-radius: 10px 10px 0 0;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: aliceblue;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 1px solid rgba(225, 225, 225, .1);
    border-bottom: 1px solid black;
    transition: .3s;
    text-decoration: none;
}

.menu {
    list-style: none;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

.content {
    position: fixed;
    height: 100%;
    margin-left: 420px;
}


.page-nadhif {
    background-color: #13599c;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width : 400px; 
    height: 700px; 
    float: left; 
}
hr{
    width: 390px;
    
}
.Hobi{
    
    float: left;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #13599c;
}
.page-nadhif a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.MEDSOS-NADHIF {
    margin-left: 125px;
    

.row {
    display: flex;
}

.kiri {
    flex: 15%;
    background-color: bisque;
    padding: 20px;
    height: 600px;
    margin-top: 25px;
}
.tengah {
    flex : 70%;
    background-color: white;
    padding: 20px;
}
.medsos a{
    color: black;
    padding: 100px;
    text-decoration: none;
    font-size: 15px;
}
.foto-anjas{
    height: 450px;
    /* padding: 100px; */
}